LogicPropertyNodeView {
    min-width: 150px;
}

LogicPropertyNodeView > #portInputContainer {
    position-type: absolute;
    width: 412px;
    position-left: -400;
    position-top: 46;
}

#leafContainer {
    flex-direction: row;
    justify-content: space-between;
}
